In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Luderitz,NaN,2022-02-02 15:20:28,-26.6481,15.1594,69.94,75,18,10.31
1,1,Cabo San Lucas,MX,2022-02-02 15:20:29,22.8909,-109.9124,69.51,54,40,9.22
2,2,Avarua,CK,2022-02-02 15:20:29,-21.2078,-159.7750,77.05,88,75,10.36
3,3,Rikitea,PF,2022-02-02 15:20:30,-23.1203,-134.9692,77.50,72,46,6.73
4,4,Torbay,CA,2022-02-02 15:20:30,47.6666,-52.7314,28.89,81,75,6.91

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
display(fig)

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cabo San Lucas,MX,2022-02-02 15:20:29,22.8909,-109.9124,69.51,54,40,9.22
2,2,Avarua,CK,2022-02-02 15:20:29,-21.2078,-159.7750,77.05,88,75,10.36
3,3,Rikitea,PF,2022-02-02 15:20:30,-23.1203,-134.9692,77.50,72,46,6.73
6,6,Kavaratti,IN,2022-02-02 15:20:31,10.5669,72.6420,80.98,68,5,12.55
8,8,Corumba,BR,2022-02-02 15:20:32,-19.0092,-57.6533,89.31,66,75,8.05
9,9,Huarmey,PE,2022-02-02 15:20:32,-10.0681,-78.1522,74.62,73,97,10.25
13,13,Hithadhoo,MV,2022-02-02 15:20:34,-0.6000,73.0833,82.60,70,32,7.25
14,14,Port Alfred,ZA,2022-02-02 15:20:34,-33.5906,26.8910,85.86,61,99,7.85
16,16,Waingapu,ID,2022-02-02 15:20:35,-9.6567,120.2641,79.16,84,59,7.99
17,17,Bambous Virieux,MU,2022-02-02 15:20:35,-20.3428,57.7575,81.21,89,75,34.52

In [12]:
preferred_cities_df.count()

City_ID       246
City          246
Country       246
Date          246
Lat           246
Lng           246
Max Temp      246
Humidity      246
Cloudiness    246
Wind Speed    246
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1    Cabo San Lucas      MX     69.51  22.8909 -109.9124
2            Avarua      CK     77.05 -21.2078 -159.7750
3           Rikitea      PF     77.50 -23.1203 -134.9692
6         Kavaratti      IN     80.98  10.5669   72.6420
8           Corumba      BR     89.31 -19.0092  -57.6533
9           Huarmey      PE     74.62 -10.0681  -78.1522
13        Hithadhoo      MV     82.60  -0.6000   73.0833
14      Port Alfred      ZA     85.86 -33.5906   26.8910
16         Waingapu      ID     79.16  -9.6567  120.2641
17  Bambous Virieux      MU     81.21 -20.3428   57.7575

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Cabo San Lucas,MX,69.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
3,Rikitea,PF,77.50,-23.1203,-134.9692,People ThankYou
6,Kavaratti,IN,80.98,10.5669,72.6420,Hotels in Lakshadweep Islands
8,Corumba,BR,89.31,-19.0092,-57.6533,Hotel Laura Vicunha
9,Huarmey,PE,74.62,-10.0681,-78.1522,Hotel Miramar
13,Hithadhoo,MV,82.60,-0.6000,73.0833,Scoop Guest House
14,Port Alfred,ZA,85.86,-33.5906,26.8910,The Halyards Hotel
16,Waingapu,ID,79.16,-9.6567,120.2641,Pondok Wisata Elim
17,Bambous Virieux,MU,81.21,-20.3428,57.7575,Casa Tia Villa

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))